import java.util.Scanner; 
 
public class TaxAccountant  
{
 
public static void main(String[] args)  
{
 
// declare variables int customer  
 
int customerID;
 
double totalEarnings = 0.0; 
 
double federalTaxWH = 0.0; 
 
double stateTaxWH = 0.0; 
 
double deductions = 0.0; 
 
double taxableIncome = 0.0; 
double federalTax = 0.0;
 
double stateRefund = 0.0;
double stateTax = 0.0;
double federalRefund = 0.0;
String output = "Cust.                Taxable  Federal State Federal State Federal State\n"
+" ID Income Deductions Income Tax Tax W/H W/H Refund Refund\n"
+"===== ====== ========== ======= ===== ===== ===== ======= ======= ======\n";
 
// Create a Scanner input object 
 
Scanner input = new Scanner(System.in); 
 
// Start first customer
 
//Get the first Custmer ID
 
System.out.print("Enter the first Customer ID: ");
customerID = input.nextInt();
 
while(customerID != -1)
{
    System.out.print("Enter Income: ");
    totalEarnings = input.nextInt();
    
    System.out.print("Enter deductions:");
    deductions = input.nextInt();
    
    System.out.print("Enter federal taxes withheld:");
    federalTaxWH = input.nextInt();
    
    System.out.print("Enter state taxes withheld: ");
    stateTaxWH = input.nextInt();
    
    // Calculate refunds and taxes due
    
    taxableIncome = totalEarnings - deductions;
    
    if(taxableIncome <= 10000.0)
    {
        federalTax = 0.0;
    }
    else
         if(taxableIncome <= 45000.0)
    {
        federalTax = (taxableIncome - 10000.0) * 0.15;
    }
    else 
         if(taxableIncome <= 70000.0)
    {
        federalTax = (taxableIncome - 45000.0) * 0.2 + 35000.0 * 0.15;
    }
    else
    {
        federalTax = (taxableIncome - 70000.0) * 0.3 + 25000.0 * 0.2 + 35000.0 * 0.15;
    }
    
    stateTax = federalTax * 0.07;
    Math.round(stateTax);
    
    federalRefund = federalTaxWH - federalTax;
    stateRefund = stateTaxWH - stateTax;
    
    // Input data to output string
    
    output+= String.format("%-5d %6s %10s %7s %7s %5s %7s %5s %7s %6s\n",
    customerID, String.format("$%.0f", totalEarnings), String.format("$%.0f", deductions), 
    String.format("$%.0f", taxableIncome), String.format("$%.0f", federalTax),
    String.format("$%.0f", stateTax), String.format("$%.0f", federalTaxWH),
    String.format("$%.0f", stateTaxWH),String.format("$%.0f", federalRefund),
    String.format("$%.0f", stateRefund));
    
    // Then get next customer ID
    System.out.print("Enter the next Customer ID: ");
    customerID = input.nextInt();
    
}
 
//Print out the data table and end the program
 
System.out.println(output); 
}}


